<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>Personal Dashboard</title>
  </head>
  <body>
    <main>
      <header class="container">
        <div id="crypto">
          <div id="crypto__top"></div>
        </div>
        <div id="weather">
          <p>Weather</p>
        </div>
      </header>
      <h1 class="time">TIME HERE</h1>
      <p class="author"></p>
    </main>
    <script type="module" src="client.js"></script>
  </body>
</html>
